<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>交警执法后台管理系统</title>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/styles.css">
</head>
<body>


<div class="wrapper">

	<div class="container">
		<h1>交警执法后台管理系统</h1>
		<form class="form" action="__CONTROLLER__/login" method="post">
			<input type="text" placeholder="Username" name="username">
			<input type="password" placeholder="Password" name="psd">
			<input type="text" name="code" style="width:80px;display: inline-block;vertical-align: top"> <img src="__CONTROLLER__/verify" onclick="this.src='__CONTROLLER__/verify?'+Math.random();"><br>
			<button type="submit" id="login-button"><strong>登陆</strong></button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		
	</ul>
	
</div>



</body>
</html>