<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery2.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery2.sorted.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/common.js"></script>

    <style type="text/css">
        body {font-size: 20px;
		font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body >
<form class="form-inline definewidth m20" action="user" method="get">
    <input type="text" name="search" id="menuname" class="abc input-default" placeholder="输入要查询的用户信息" value="{$search}">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>用户id</th>
        <th>用户姓名</th>
        <th>用户身份证号</th>
        <th>驾照编码</th>
        <th>剩余分数</th>
        <th>注册时间</th>
        <th>用户电话</th>
    </tr>
    </thead>
        <volist name="police" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.idcard}</td>
                <td>{$vo.drive_card}</td>
                <td>{$vo.score}</td>
                <td>{$vo.regtime}</td>
                <td>{$vo.phone}</td>
            </tr>
        </volist>
</table>
{$page}
</body>
</html>
<script>
    $(function(){
       $("div").css({
           'text-align':'center',
           'margin-top':'20px'
       })
    });
</script>