<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/styles.css">
    
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery2.js"></script>
    <!--  
    <script type="text/javascript" src="../../../../Public/js/js/jquery2.sorted.js"></script>
    -->
    <script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
    <style type="text/css">
        body {font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
	<script>
		$(function(){
			$('div').css({
				'margin':'0 auto',
				'width':'500px',
				'fontSize':'25px',
				'textAlign':'center'
			})
		})
	</script>
</head>
<body>
<h1 style="text-align:center">车辆信息</h1>
<form class="form-inline definewidth m20" action="__CONTROLLER__/car_search" method="get">
     <select  name='select'>
     	<option><font color="#777777"><strong>车牌号</strong></font></option>
     	<option><font color="#777777"><strong>类型</strong></font></option>
     	<option><font color="#777777"><strong>识别号</strong></font></option>
     	<option><font color="#777777"><strong>地区</strong></font></option>
     	<option><font color="#777777"><strong>颜色</strong></font></option>
     </select>  
    <input type="text" name="menuname" id="menuname"class="abc input-default" placeholder="" value="">&nbsp;&nbsp; 
    <button type="submit" class="btn btn-primary">查询</button> 
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>车牌号</th>
        <th>type</th>
        <th>车辆识别号</th>
        <th>local</th>
		<th>color</th>

     </tr>
    </thead>
    <volist name='carlists' id='p'>	
			<tr>
				<td>{$p.id}</td>
				<td>{$p.type}</td>
				<td>{$p.vin}</td>
				<td>{$p.local}</td>
				<td>{$p.color}</td>
					
			</tr>	
		</volist>	
        
           
       
       </table>
<p>{$page}</p>
</body>
</html>