<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/styles.css">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery2.js"></script>
<!--  
<script type="text/javascript" src="../../../../Public/js/js/jquery2.sorted.js"></script>
-->
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/ckform.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>


<style type="text/css">
body {font-size: 20px;
    padding-bottom: 40px;
    background-color:#e9e7ef;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
#head_img{
	position:relative;
	width:200px;
	height:200px;
	
	/*left:575px;*/
}
</style>
<script>
	$(function(){
		$('div').css({
			'margin':'0 auto',
			'width':'500px',
			'fontSize':'25px',
			'textAlign':'center'
		})
		$('.click_head').click(function(){
			
			$('#head').show();
			var head_src=$(this).attr('data-src');
			$('#head_img').attr('src',""+head_src+"")
		})
		$('.head_close').click(function(){
			
			$('#head').hide();
		})
		
	})
	function head_id(id){
		
		$('#head_img').attr('src',"{$criminallists["+id+"].head}")
	}
</script>
</head>
<body>
<h1 style="text-align:center">通缉犯信息</h1>
<form class="form-inline definewidth m20" action="__CONTROLLER__/criminal_search" method="get">
     <select  name='select' style="width:80px;height:30px">
     	<option><font color="#777777"><strong>姓名</strong></font></option>
     	<option><font color="#777777"><strong>罪状</strong></font></option>
   	   	<option><font color="#777777"><strong>状态</strong></font></option>     	
     </select>  
    <input type="text" name="search" id="menuname"class="abc input-default" placeholder="" value="" style="width:200px;height:30px">&nbsp;&nbsp; 
    <button type="submit" class="btn btn-primary"style="width:100px">查询</button> 
    <a href='__CONTROLLER__/add_criminal'><button type="button" class="btn btn-primary" id='add_button'style="width:100px">添加</button></a>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>驾驶证号</th>
        <th>车牌号</th>
        <th>罪状</th>
        <th>状态</th>
		<th>头像</th>
		<th>操作</th>		
     </tr>
    </thead>
    <volist name='criminallists' id='p'>	
			<tr>
				<td style="width:60px">{$p.id}</td>
				<td style="width:100px">{$p.name|substr=0,27}</td>
				<td >{$p.drive_card}</td>
				<td >{$p.car_id}</td>
				<td style="width:300px">{$p.action|substr=0,57}</td>
				<td class='{$p.state}'>{$p.state}</td>
				<td><span id='{$p.id}' class='click_head' style="cursor:pointer" data-src="{$p.head}">查看头像</span></td>
				<td>
				<a href='__CONTROLLER__/state_criminal?id={$p.id}&&state={$p.state}' >{$p.state}</a>
				<a href='__CONTROLLER__/del_criminalAction?id={$p.id}'>删除</a>
				</td>
				<!--  <td><a href='__CONTROLLER__/change?id={$p.id}'>修改</a></td>-->
			</tr>	
	</volist>	 
</table>
<p>{$page}</p>
<!-- {$criminallists[0].name}
../../../Public/Admin/images/c7s.png 
<iframe src='__CONTROLLER__/head_img?id=1'></iframe>
-->
<div id="head" style="display:none">	
	<img  id="head_img"/>
	<p class="head_close" style="cursor:pointer">取消</p>
</div>

</body>
</html>